package ${pack};

import java.util.List;
import java.util.Map;

import io.grass.core.PageResult;
import io.grass.core.dao.Order;
import io.grass.core.dao.QueryParams;

import ${beanPack}.${t.className};

public interface ${t.className}Dao {

}
